.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.star {
  position: fixed;
  width: 2px;
  height: 2px;
  background-color: $text-white;
  border-radius: 50%;
  animation: twinkle 2s infinite;
}

[data-theme="light"] .star {
  display: none;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}