$primary:   #007bff;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;

$border-light: #eee;
$border-dark: #444;

$text-black: #343a40;
$text-white: rgba(white, .9);

$rounded-borders: 15px;

$wave-fill-1: rgba(77, 137, 255, 0.4);
$wave-fill-2: rgba(77, 137, 255, 0.3);
$wave-fill-3: rgba(77, 137, 255, 0.2);
$wave-fill-4: rgba(77, 137, 255, 0.1);